
.app{
  display: flex;
  width: Fill (1,440px)px;
height: Fill (1,080px)px;
padding: 20px;
align-items: center;

}
.imagecontainer{
  width: 715px;
height: 574px;
margin: 40px;

}

.headings{
  color: #1B2128;
text-align: center;
font-family:sans-serif;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.8px;
}

.desc{
  color: #1B2128;
text-align: center;
font-family: sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
letter-spacing: -0.075px;
margin-bottom: 80px;
margin-top: 10px;
}

.loginform{
  display: flex;
  flex-direction: column;
width: 595px;
height: 798px;
padding: 80px;
justify-content: center;
align-items: center;
flex: 1 0 0;
border-radius: 40px;
border: 1px solid #949494;
background: #F5F5F5;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
margin-top: 40px;
margin-right: 40px;
margin-bottom: 40px;
}
.inputboxpass{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.00);
  background: rgba(37, 78, 126, 0.09);
  width: 359px;
height: 40px;
padding-left: 10px;
}
.inputbox{
  border-radius: 16px;
border: 1.5px solid rgba(0, 0, 0, 0.00);
background: rgba(37, 78, 126, 0.09);
width: 359px;
height: 40px;
padding-left: 10px;
border-style: none;

}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  width: 359px;
height: 40px;
border-radius: 16px;
background: #F37D64;
color: white;
border-style: hidden;

}
